@import "./assets/font.css";

html {
  font-size: 14px;
}

body {
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif !important;
  margin: 0 auto;
}

span {
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif !important;
}

/*@media (max-width: 1400px) {*/
/*  html {*/
/*    font-size: 12px;*/
/*  }*/
/*}*/

/*@media (max-width: 1300px) {*/
/*  html {*/
/*    font-size: 11px;*/
/*  }*/
/*}*/

/*@media (max-width: 1200px) {*/
/*  html {*/
/*    font-size: 10px;*/
/*  }*/
/*}*/

/*@media (max-width: 992px) {*/
/*  html {*/
/*    font-size: 9px;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  html {*/
/*    font-size: 8px;*/
/*  }*/
/*}*/

/*@media (max-width: 576px) {*/
/*  html {*/
/*    font-size: 6px;*/
/*  }*/
/*}*/

span {
  word-break: break-word;
}

/*@media (min-height: 300px) {*/
  /*html {*/
    /*font-size: 6px;*/
  /*}*/
/*}*/



/*@media (min-height: 900px) {*/
  /*html {*/
    /*font-size: 14px;*/
  /*}*/
/*}*/

/*@media (min-height: 500px) {*/
  /*html {*/
    /*font-size: 8px;*/
  /*}*/
/*}*/

/*@media (max-height: 300px) {*/
  /*html {*/
    /*font-size: 5px;*/
  /*}*/
/*}*/

/*@media (min-height: 300px) {*/
  /*html {*/
    /*font-size: 6px;*/
  /*}*/
/*}*/


#illustration_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000004; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#illustration_modal.show {
  display: block;
}

#assignment_details .title {
  /*font-size: 2rem;
  text-align: center;
  line-height: 2.5;
  font-weight: 500;
  border-bottom: 1px solid #eceeef;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;*/
  text-align: left;  
  font-weight: 500;
  border-bottom: 1px solid #888;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#assignment_details .p1 {
  padding: 1rem;
}

#assignment_details table, #assignment_details tbody, #assignment_details tr {
  width: 100%;
}

#assignment_details tr {
  border-bottom: 1px solid black;
}

#assignment_details td {
  /*font-size: 1.5rem;
  line-height: 1.5;*/
  padding: 5px 10px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


#illustration_modal .modal-content{
	width: 650px;
	background: #000;
	color:#bdbdbd;
}

.d-none{display:none;}

.red{color:#E60000 !important;border-color:#E60000 !important;}
.blue{color:#2493f2 !important;border-color:#2493f2 !important;}
.orange{color:#ffaa00 !important;border-color:#ffaa00 !important;}
.green{color:#70A800 !important;border-color:#70A800 !important;}

#assignment_details .close {
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

#assignment_details .close:hover,
#assignment_details .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.vis-foreground .vis-group, .vis-time-axis .vis-grid.vis-vertical {
  border:0px !important;
}

.vis-label.vis-nested-group.vis-group-level-1, .vis-itemset .vis-background,
.vis-itemset .vis-foreground, .vis-label.vis-nested-group.vis-group-level-1,
.vis-itemset .vis-background, .vis-itemset
.vis-foreground {
  background-color:#222222 !important;
}

.vis-labelset .vis-label, .vis-timeline {
  color:#d6d6d6 !important;
  border-bottom:1px solid #bfbfbf !important;
}

.vis-labelset .vis-label{
	border-right:1px solid #bfbfbf !important;
}

.vis-time-axis .vis-text, .vis-item {
  color:#d6d6d6 !important;
}

.vis-timeline {
  background-color:#222222 !important;
}

.vis-content {
  top: 0 !important;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
    transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 7px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
  z-index: 1001;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: #404040;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #404040;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #5c5c5c;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 7px;
  /* there must be 'right' for ps__thumb-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
  z-index: 100002;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 7px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
.scrollbar-container{position:relative;height:100%}